body{
    width: 1100px;
    height: 600px;
    background-color: #0e194e;
    color:#7984a9;
    display: flex;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}
/*estilo dos textos---------------------------------------*/
.titulo{
    font-weight: 600;
    font-size: 18px;
}
.texto {
    background-color: #7984a9; 
    padding: 5px 10px; 
    border-radius: 10px;
    box-shadow: 2 2 10px #0e194e;
    max-width: 500px; 
    margin: 10px auto; 
    color: #d8d8d8;
}
#texto p {
    margin-bottom: 5px;
}

/* estilo do formulário-----------------------------------*/
.formulario{
    max-width: 500px;
    height: 70%;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    background-color: #030c39;
    border-radius: 10px;
    padding: 5px 10px;
    text-align:left;
}
label{
    margin: 2px 8px;
}
.formulario p{
    color:#d8d8d8;
    font-size: 18px;
    font-weight: 600;
}
#nome, #email{
    background-color: #7984a9;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #0e194e;
    margin: 3px 5px;   
}
input::placeholder{
    color: #0e194e;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
    padding: 8px 8px;
}
#verificacao-botao, #receber_comunicoes, #politica_privacidade{
    border-radius: 8px;
    border: 2px solid #0e194e;
    margin: 2px 8px;
    width:14px;
    height: 14px;
}
a{
    color: #a066cb
}
a:visited{
    color: #90278e;
  }
  a:hover{
    color: #86c7ed;
  }
  a:active{
    color: #86c7ed;
  }
  /*botao do formulario--------------------------------*/
#codigo-promocional{
    border-radius: 8px;
    border: 1px solid #0e194e;
    background-color: #7984a9;
    color:#d8d8d8;
    max-width: 250px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    margin: 15px auto;
    display: block;
    line-height: 40px;
}
/* alinhamento da div do texto e do formulario ------------------------*/
.texto-container{
    display: inline-block;
    max-width: 600px;
    vertical-align: top;
    margin-right: 20px;
}
.texto-container, .formulario{
    display: inline-block;
    vertical-align: top;
}